<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
</head>
<body>
	<!-- DETAIL -->
	<h2><span th:text="${kitchenDetail.name}"></span></h2>
	<a th:href="@{|/reservation/${kitchenDetail.id}|}" class="btn" sec:authorize="hasRole('ROLE_USER')">예약</a>
	<hr>
	<table>
		<tr th:each="fileDto: ${fileDtoList}">
			<td>
				파일<img src="${fileDto.filePath}" style="width:300px;height:auto;">
			</td>
		</tr>
		<tr>
			<td>주소</td>
			<td th:text="${kitchenDetail.address}"></td>
		</tr>
		<tr>
			<td>매장 전화번호</td>
			<td th:text="${kitchenDetail.telNum}"></td>
		</tr>
		<tr>
			<td>주방 수</td>
			<td th:text="${kitchenDetail.capacity}"></td>
		</tr>
		<tr>
			<td>평 수</td>
			<td th:text="${kitchenDetail.pyeong}"></td>
		</tr>
	</table>
	<!-- /LIST -->
</body>
</html>