alabaster==0.7.12
astroid==2.3.3
atomicwrites==1.3.0
attrs==19.3.0
autopep8==1.4.4
Babel==2.7.0
backcall==0.1.0
beautifulsoup4==4.8.1
bootstrap4==0.1.0
branca==0.3.1
certifi==2019.9.11
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
dataframe==0.2.1.3
decorator==4.4.1
decorators==0.1.1
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2.10
django-allauth==0.40.0
django-appconf==1.0.3
django-bootstrap-themes==3.3.6
django-bootstrap4==1.0.1
django-compressor==2.3
django-decorators==0.1.1
django-extensions==2.2.5
django-heroku==0.3.1
django-imagekit==4.0.2
docutils==0.15.2
Faker==2.0.3
folium==0.10.0
get==2019.4.13
gunicorn==20.0.3
idna==2.8
imagesize==1.1.0
importlib-metadata==1.1.0
ipython==7.9.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
more-itertools==8.0.0
mpld3==0.3
nose==1.3.7
numpy==1.17.4
oauthlib==3.1.0
packaging==19.2
pandas==0.25.3
parso==0.5.1
pickleshare==0.7.5
pilkit==2.0
Pillow==6.2.1
pluggy==0.13.1
post==2019.4.13
prettytable==0.7.2
prompt-toolkit==2.0.10
psycopg2==2.8.4
public==2019.4.13
py==1.8.0
pycodestyle==2.5.0
pyecharts==1.6.0
Pygments==2.4.2
pylint==2.4.3
pylint-django==2.0.13
pylint-plugin-utils==0.6
pyparsing==2.4.5
pytest==5.3.1
python-dateutil==2.8.0
python-decouple==3.3
python3-openid==3.1.0
pytz==2019.3
query-string==2019.4.13
rcssmin==1.0.6
request==2019.4.13
requests==2.22.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
scipy==1.3.3
simplejson==3.17.0
six==1.13.0
snowballstemmer==2.0.0
soupsieve==1.9.4
Sphinx==2.2.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sqlparse==0.3.0
tabulate==0.8.6
text-unidecode==1.3
traitlets==4.3.3
typed-ast==1.4.0
urllib3==1.25.7
wcwidth==0.1.7
whitenoise==4.1.4
wrapt==1.11.2
zipp==0.6.0
