<!DOCTYPE html>
<html lang="en" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>내정보</title>
    <style>
    </style>
</head>
<body>
    <span sec:authentication="principal.user.name"></span>
    <button class="">점포 등록</button>
	<hr>
    <table>
    	<tr>
    		<th>no</th>
    		<th>점포이름</th>
    		<th>주소</th>
    	</tr>
    	<tr th:each="store, index : ${stores}" >
    	 	<td th:text="${index.count}"></td>
    	 	<td>
    	 		<a th:href="@{|/info/store/${store.id}|}" th:text="${store.name}"></a>
    	 	</td>
    	 	<td th:text="${store.address}"></td>
    	</tr>
    </table>
</body>
</html>