{% extends 'index.html' %}
{% load static %}

<!DOCTYPE html>
{% block cdn_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css" />
{% endblock cdn_css %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock css %}

<body>
    {% block content_title %}Analysis{% endblock %}
    {% block content_explain %}공유 주방의 상권을 분석해보세요{% endblock %}

    <!-- content 내용 -->
    {% block content_content %}
    <!-- <form action =   -->
    <form action="">
        <select id='genre' name='genre'>
            <option>중식</option>
            <option>한식</option>
            <option>양식</option>
            <option>분식</option>
            <option>패스트푸드점</option>
            <option>제과제빵떡케익</option>
            <option>커피점/카페</option>
        </select>
        <input type='submit'>
    </form>
    <div class="map-box">
        <div class="folium-map" id="map_seoul"></div>
    </div>

    {% endblock content_content %}
    <!-- content 내용 끝 -->
    {% block cdn_js %}
    <script>
        L_NO_TOUCH = false;
        L_DISABLE_3D = false;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script>
        var obj = document.getElementById('genre');
        var obj1 = window.location.href
        var appctx = obj1.substring(obj1.lastIndexOf("genre"));
        var index = obj.selectedIndex;
        var genre = obj.options[index].value;

        var map_seoul = L.map(
            "map_seoul", {
            center: [37.5502, 126.982],
            crs: L.CRS.EPSG3857,
            zoom: 11,
            zoomControl: true,
            preferCanvas: false,
        }
        );
        var tile_layer_feef30a9ec504dbc97fdad2819aa31b6 = L.tileLayer(
            "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            "attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.",
            "detectRetina": false,
            "maxNativeZoom": 18,
            "maxZoom": 18,
            "minZoom": 0,
            "noWrap": false,
            "opacity": 1,
            "subdomains": "abc",
            "tms": false
        }
        ).addTo(map_seoul);
        var storeName = "{{ name }}".replace(/&#39;/gi, '"')
        var storeLat = "{{ lat }}".replace(/&#39;/gi, '')
        var storeLon = "{{ lng }}".replace(/&#39;/gi, '')
        var pk = "{{ pk }}".replace(/&#39;/gi, '')
        storeName = JSON.parse(storeName)
        storeLat = JSON.parse(storeLat)
        storeLon = JSON.parse(storeLon)
        pk = JSON.parse(pk)
        for (var i = 0; i < storeName.length; i++) {
            var marker_store_id = L.marker([storeLat[i], storeLon[i]], {}).addTo(map_seoul);
            var popup_store_id = L.popup({
                "maxWidth": "1000px"
            });
            var html_store_id = $(
                 
                `<div>
                 <button <div onclick="location.href='http://127.0.0.1:8000/analysis/${storeLat[i]}/${storeLon[i]}/${genre}'"  id='${storeName[i]}' style="width: 200px; height: 50px;">${storeName[i]} 상권분석</button>
                 <button <div type ="button" onclick="location.href='http://127.0.0.1:8000/reserve/${pk[i]}'"  id='${pk[i]}' style="width: 200px; height: 50px;">${storeName[i]} 예약하기</button>
                 </div>`
            )[0];
            popup_store_id.setContent(html_store_id);
            marker_store_id.bindPopup(popup_store_id);
        }
    </script>
    {% endblock cdn_js %}
</body>

</html>