<style>
    .nav nav-tabs{
        text-align: center;
    }
</style>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#chart1" data-toggle="tab">창업지수</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#chart2" data-toggle="tab">인근점포현황</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#chart3" data-toggle="tab">상주/직장인구 현황</a>
    </li>

    <li class="btn-group">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            매출별 그래프
            <span class="caret"></span>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="nav-link" href="#chart4" data-toggle="tab">성별 상권 매출비율</a><br>
            <a class="nav-link" href="#chart5" data-toggle="tab">시간대별 상권 매출비율</a><br>
            <a class="nav-link" href="#chart7" data-toggle="tab">매출 비율</a><br>
            <a class="nav-link" href="#chart6" data-toggle="tab"> 주중/주말 매출 비율</a>
        </ul>
    </li>
</ul>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade" id="chart1">
        <canvas class="item" id="myChart"></canvas>
    </div>
    <div class="tab-pane fade" id="chart2">
        <canvas class="item" id="myChart2"></canvas>
    </div>
    <div class="tab-pane fade" id="chart3">
        <canvas class="item" id="myChart3"></canvas>
    </div>
    <div class="tab-pane fade" id="chart4">
        <canvas class="item" id="myChart4"></canvas>
    </div>
    <div class="tab-pane fade" id="chart5">
        <canvas class="item" id="myChart5"></canvas>
    </div>
    <div class="tab-pane fade" id="chart6">
        <canvas class="item" id="myChart6"></canvas>
    </div>
    <div class="tab-pane fade" id="chart7">
        <canvas class="item" id="myChart7"></canvas>
    </div>
</div>