{% load static %}

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">가입 목적을 선택하세요.</h4>
      </div>
      <div class="modal-body">
        <!-- card- deck -->
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <a href="{% url 'accounts:signup' %}" class="thumbnail" style="background-color: pink;">
              <img src="{% static 'images/tenant.png' %}" alt="..." style="width:90%; height:auto;">
              <div class="caption">
                <h3 style="text-align: center;">공유주방<br>입점 희망 사장님</h3>
              </div>
            </a>
          </div>
          <div class="col-sm-6 col-md-6">
            <a href="{% url 'accounts:signup' %}" class="thumbnail" style="background-color:darkseagreen;">
              <img src="{% static 'images/owner.png' %}" alt="..." style="width:80%; height:auto;">
              <div class="caption">
                <h3 style="text-align: center;">공유주방<br>점주님</h3>
              </div>
            </a>
          </div>
        </div>
      <!-- /card-deck -->
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<!-- Modal -->