{% load static %}

<!-- Modal -->
<div class="modal" id="loginModal">
  <h4 class="modal-title" id="myModalLabel">가입 목적을 선택하세요.</h4>
  <div class="modal-body">
    <!-- card- deck -->
    <div class="row row-cols-1 row-cols-md-2">
      <a href="{% url 'accounts:signup' %}">
        <div class="col mb-1">
          <div class="card" style="background-color:pink; border-radius: 3em;">
            <img src="{% static 'images/tenant.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">공유주방 입점 사장님</h3>
              <p class="card-text">&nbsp;</p>
            </div>
          </div>
        </div>
      </a>
      <a href="{% url 'accounts:signup' %}">
        <div class="col mb-1">
          <div class="card" style="background-color:darkseagreen; border-radius: 3em;">
            <img src="{% static 'images/owner.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">공유주방 점주님</h3>
              <p class="card-text">&nbsp;</p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- /card-deck -->

  </div>
</div>
  <!-- Modal -->