{% extends "ourkitchen/index.html" %}

{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
{% block content_title %}JOIN{% endblock %}
{% block content_explain %}OUR KITCHEN과 함께 하세요.{% endblock %}
<!-- content 내용 -->
{% block content_content %}
    <h1 class='text-center'>{% block url_name %}{% endblock %}</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div style="width: 50%; margin-left: auto; margin-right: auto;">
            {% block form %} {% endblock %}
        </div>
        <br>
    </form>
    {% block lowerBtn %} {% endblock %}
    {% include "accounts/_modal.html" %}
{% endblock content_content %}
<!-- content 내용 끝 -->
{% block footer %}
{% endblock footer %}
