{% extends "accounts/auth_form.html" %}
{% load static %}
{% load socialaccount %}

{% block url_name %}로그인{% endblock %}
{% block form %} 
    <div class="form-group">
        <label>이메일</label>
        {{ form.email }}
    </div>
    <div class="form-group">
        <label>비밀번호</label>
        {{ form.password }}
    </div>
    <p class='login_error'>{{error_message}}</p>
    <ul class="actions">
        <li><input type="submit" value="LOGIN" class="primary" style='display:inline; margin:1px'></li>
        <li><a href="#" >비밀번호를 잊으셨나요?</a></li>
    </ul>
{% endblock form %}

{% block lowerBtn %} 
    <ul class="actions" style='float:right;'>
        <li><button type="button" class="secondary" data-toggle="modal" data-target="#loginModal">간편 회원가입</button></li>
        <!-- <li><a href="{% provider_login_url 'kakao' %}"><button class='secondary' style="display:inline;">카카오톡 로그인</button></a></li> -->
    </ul>
{% endblock lowerBtn %}

