<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>주방</title>
</head>
<body>
	<h1>주방 분석 결과</h1>
	<hr>
	<!-- list -->
	<table>
	    <tr th:if="{not #list.isEmpty( anlysis_dataList )}" th:each="row ${kitchenList}">
	    	<td th:text="${row.id}"></td>
	    	<td th:text="${row.rdnm}"></td>
	    	<td th:text="${row.dong}"></td>
	    	<td th:text="${row.res_all_total}"></td>
	    	<td th:text="${row.res_man_total}"></td>
	    	<td th:text="${row.res_women_total}"></td>
	    	<td th:text="${row.res_total_20s}"></td>
	    	<td th:text="${row.res_total_30s}"></td>
	    	<td th:text="${row.res_total_40s}"></td>
	    	<td th:text="${row.res_total_50s}"></td>
	    	<td th:text="${row.res_total_60s}"></td>
	    	<td th:text="${row.res_men_20s}"></td>
	    	<td th:text="${row.res_men_30s}"></td>
	    	<td th:text="${row.res_men_40s}"></td>
	    	<td th:text="${row.res_men_50s}"></td>
	    	<td th:text="${row.res_men_60s}"></td>
	    	<td th:text="${row.res_women_20s}"></td>
	    	<td th:text="${row.res_women_30s}"></td>
	    	<td th:text="${row.res_women_40s}"></td>
	    	<td th:text="${row.res_women_50s}"></td>
	    	<td th:text="${row.res_women_60s}"></td>
	    	<td th:text="${row.flow_all_total}"></td>
	    	<td th:text="${row.flow_man_total}"></td>
	    	<td th:text="${row.flow_women_total}"></td>
	    	<td th:text="${row.flow_total_20s}"></td>
	    	<td th:text="${row.flow_total_30s}"></td>
	    	<td th:text="${row.flow_total_40s}"></td>
	    	<td th:text="${row.flow_total_50s}"></td>
	    	<td th:text="${row.flow_total_60s}"></td>
	    	<td th:text="${row.flow_men_20s}"></td>
	    	<td th:text="${row.flow_men_30s}"></td>
	    	<td th:text="${row.flow_men_40s}"></td>
	    	<td th:text="${row.flow_men_50s}"></td>
	    	<td th:text="${row.flow_men_60s}"></td>
	    	<td th:text="${row.flow_women_20s}"></td>
	    	<td th:text="${row.flow_women_30s}"></td>
	    	<td th:text="${row.flow_women_40s}"></td>
	    	<td th:text="${row.flow_women_50s}"></td>
	    	<td th:text="${row.flow_women_60s}"></td>
	    	<td th:text="${row.mon_sales}"></td>
	    	<td th:text="${row.mon_sales_count}"></td>
	    	<td th:text="${row.weekdays_sales_rate}"></td>
	    	<td th:text="${row.weekend_sales_rate}"></td>
	    	<td th:text="${row.breakfast_sales}"></td>
	    	<td th:text="${row.lunch_sales}"></td>
	    	<td th:text="${row.dinner_sales}"></td>
	    	<td th:text="${row.men_sales_rate}"></td>
	    	<td th:text="${row.women_sales_rate}"></td>
	   	</tr>
   	</table>
</body>
</html>