<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>주방</title>
</head>
<body>
	<body>
	<h1>주방 분석 또는 예약</h1>
    <hr>
	<th:block th:if="${param.error!=null}">
		<span id="error-msg" th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
	</th:block> 
	//데이터 입력을 통해 나온 주방 중 선택한 주방의 분석 또는 예약을 진행하는 단계  
	<form class="analysis" role="form" th:action="@{/analysis.do}" 
	         th:object="${analysisVO}"  action="#" id="analysisForm" method="post">
	    <div class="form-group">
	    <button type="submit" class="btn btn-primary block full-width m-b">분석하기</button>
		</div>
	</form>
    <form class="reserve" role="form" th:action="@{/reserve.do}" 
	         th:object="${reserveVO}"  action="#" id="reserveForm" method="post">
	    <div class="form-group">
	    <button type="submit" class="btn btn-primary block full-width m-b">예약하기</button>
		</div>
	</form>
</body>
</html>