<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>주방</title>
</head>
<body>
	<body>
	<h1>주방 서치</h1>
    <hr>
	<<th:block th:if="${param.error!=null}">>
		<span id="error-msg" th:text="${SPRING_SECURITY_LAST_EXCEPTION.message}"></span>
	</th:block> 
	
	<form th:action="@{/kitchen/search}" method="post"" 
	         th:object="${kitchensearchVO}" action="#" id="kitchensearchForm" method="post">
     <div class="form-group">
         <input type="date" th:field="*{startdate}" name="startdate" 
               id="startdate" class="form-control" placeholder="시작일" required="required"/>
     </div>
     <div class="form-group">
         <input type="date" th:field="*{enddate}" name="endtdate" 
               id="enddate" class="form-control" placeholder="종료일" required="required"/>
     </div>
     <div class="form-group">
         <input type="number" th:field="*{numofpeople}" name="numofpeople" 
                id="numofpeople" class="form-control" placeholder="인원" required="required"/>
     </div>
     <div class="form-group">
         <select th:field="*{food}" name="food" id="food" class="form-control" required="required">
	     	 <option value="cafe">커피,디저트</option>
			 <option value="chicken">치킨</option>
			 <option value="pizza">피자</option>
			 <option value="snack">분식</option>
			 <option value="western">양식</option>
			 <option value="asian">아시안</option>
			 <option value="korean">한식</option>
			 <option value="diet">샐러드,건강식</option>
			 <option value="snack">분식</option>
		 </select>
     </div>
	 
	 // 현재 클릭한 지도의 위치값을 기준으로 검색하기 위함
	 <div id="map" style="width:100%;height:600px;"></div>
	 <div id="digit"></div>
	 <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=다음api키값"></script>
	 <script>
	 var lat = "";
	 var lon = "";
	 var mapContainer = document.getElementById('map'), // 지도를 표시할 div
	 mapOption = {center: new daum.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
	             level: 5}; // 지도의 확대 레벨	
	 var map = new daum.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
	 // HTML5의 geolocation으로 사용할 수 있는지 확인합니다
	 	if (navigator.geolocation) {
	 	// GeoLocation을 이용해서 접속 위치를 얻어옵니다
	 	    navigator.geolocation.getCurrentPosition(function(position) {     
	        lat = position.coords.latitude;    // 위도
	        lon = position.coords.longitude; // 경도
	        var locPosition = new daum.maps.LatLng(lat, lon), // 마커가 표시될 위치를 geolocation으로 얻어온 좌표로 생성합니다
	        message = '<div style="padding:5px;width:220px;">'+ lat + ' / ' + lon +'</div>'; // 인포윈도우에 표시될 내용입니다
	        // 마커와 인포윈도우를 표시합니다
	        displayMarker(locPosition, message);
	        var idGap = document.getElementById("digit");
	            idGap.innerHTML = "위도 : "+ lat +" , 경도 : " + lon;});
	                               } 
	 	else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
	        var locPosition = new daum.maps.LatLng(33.450701, 126.570667),   
	         message = 'geolocation을 사용할수 없어요..'
	        displayMarker(locPosition, message);
	         }
	    // 지도에 마커와 인포윈도우를 표시하는 함수입니다
			function displayMarker(locPosition, message) {
	    // 마커를 생성합니다
		    var marker = new daum.maps.Marker({ 
		        map: map,
		        position: locPosition
		                                     });
		    var iwContent = message, // 인포윈도우에 표시할 내용
		        iwRemoveable = true;
		    // 인포윈도우를 생성합니다
		    var infowindow = new daum.maps.InfoWindow({
		        content : iwContent,
		        removable : iwRemoveable
		                                             });
		    // 인포윈도우를 마커위에 표시합니다
		    infowindow.open(map, marker);
		   
		    // 지도 중심좌표를 접속위치로 변경합니다
		    map.setCenter(locPosition);     
	                                                     }   
	 </script>
    <button type="submit" class="btn btn-primary block full-width m-b">Search</button>
	</form>
   
</body>
</html>