<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a sec:authorize="isAnonymous()" th:href="@{/auth/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/auth/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/auth/signup}">회원가입</a>
    <a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/auth/info}">내정보</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    <hr>
    <a th:href="@{/kitchen/search}">주방 분석</a>
    <!-- <a sec:authorize = "hasRole('ROLE_ADMIN')" th:href="@{/kitchen/write}">주방 등록</a> -->
    <a th:href="@{/kitchen/write}">주방 등록</a>
</body>
</html>