<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>메인</title>
</head>
<body>
    <h1>메인 페이지</h1>
    <hr>
    <a sec:authorize="hasRole('ROLE_USER')" th:href="@{/auth/info/user}">내정보</a>
    <a sec:authorize="hasRole('ROLE_PARTNER')" th:href="@{/auth/info/partner}">내정보</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">어드민</a>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
    <hr>
    <a th:href="@{/kitchen}">주방 검색</a>
    <!-- <a sec:authorize = "hasRole('ROLE_ADMIN')" th:href="@{/kitchen/write}">주방 등록</a> -->
    <a th:href="@{/kitchen/write}">주방 등록</a>
</body>
</html>